@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #25213a;
    color:#f2f3eb
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.yRemoteSelection {
    background-color: rgb(250, 129, 0, .5)
}

.yRemoteSelectionHead {
    position: absolute;
    border-left: #3482F6 solid 2px;
    border-top: #3482F6 solid 2px;
    border-bottom: #3482F6 solid 2px;
    height: 100%;
    box-sizing: border-box;
}

.yRemoteSelectionHead::after {
    position: absolute;
    content: ' ';
    border: 3px solid #3482F6;
    border-radius: 4px;
    left: -4px;
    top: -5px;
}